<table class="case-list-test">
    <thead>
       <tr class="header">
            <th>Col 1</th>
            <th>Col 2</th>
            <th>Col 3</th>
        </tr>
    </thead>

    <tbody>
        <tr class=rock>
            <td>Rock row</td>
            <td>Rock row column 2</td>
            <td>Rock row column 3</td>
        </tr>
        <tr class=gas>
            <td>Gas row</td>
            <td>Gas row column 2</td>
            <td>Gas row column 3</td>
        </tr>
        <tr class=ice>
            <td>Ice row</td>
            <td>Ice row column 2</td>
            <td>Ice row column 3</td>
        </tr>
        <tr class=ice>
            <td>Ice row</td>
            <td>Ice row column 2</td>
            <td>Ice row column 3</td>
        </tr>
        <tr class=ice>
            <td>Ice row</td>
            <td>Ice row column 2</td>
            <td>Ice row column 3</td>
        </tr>
        <tr class=rock>
            <td>Rock row</td>
            <td>Rock row column 2</td>
            <td>Rock row column 3</td>
        </tr>
        <tr class=gas>
            <td>Gas row</td>
            <td>Gas row column 2</td>
            <td>Gas row column 3</td>
        </tr>
        <tr class=gas>
            <td>Gas row</td>
            <td>Gas row column 2</td>
            <td>Gas row column 3</td>
        </tr>
        <tr class=ice>
            <td>Ice row</td>
            <td>Ice row column 2</td>
            <td>Ice row column 3</td>
        </tr>

    </tbody>
</table>