<!-- ALL PROSECUTORS DISPLAYED -->
<table class="case-list">
    <thead>
       <tr>
            <th>Name</th>
            <th>Reference</th>
            <th>D.O.B.</th>
            <th>Case status</th>
            <th>Prosecutor</th>
            <th>Notice served</th>
        </tr>
    </thead>
    <tbody>
        <tr id="row-1">
            <td class="name"><a href="#">row 1 SMITH Billy</a></td>
            <td class="urn">9012456</td>
            <td class="dob">4 Apr 1970</td>
            <td class="status">Completed</td>
            <td class="prosecutor">TV Licensing</td>
            <td class="date">30 Apr 2016</td>
        </tr>
        <tr id="row-2">
            <td><a href="#">row 2 SMITH Billy</a></td>
            <td>9012456</td>
            <td>4 Apr 1970</td>
            <td>No plea received</td>
            <td>TV Licensing</td>
            <td>30 Apr 2016</td>
        </tr>
        <tr id="row-3">
            <td><a href="#">row 3 SMITH Billy</a></td>
            <td>9012456</td>
            <td>4 Apr 1970</td>
            <td>Completed</td>
            <td>Driver &amp; Vehicle Licensing Agency</td>
            <td>30 Apr 2016</td>
        </tr>
        <tr id="row-4">
            <td><a href="#">row 4 SMITH Billy</a></td>
            <td>9012456</td>
            <td>4 Apr 1970</td>
            <td>Completed</td>
            <td>Transport for London</td>
            <td>30 Apr 2016</td>
        </tr>
        <tr id="row-5">
            <td><a href="#">row 5 SMITH Billy</a></td>
            <td>9012456</td>
            <td>4 Apr 1970</td>
            <td>No plea received</td>
            <td>Transport for London</td>
            <td>30 Apr 2016</td>
        </tr>
        <tr id="row-6">
            <td><a href="#">row 6 SMITH Billy</a></td>
            <td>9012456</td>
            <td>4 Apr 1970</td>
            <td>Plea received - ready for decision</td>
            <td>Driver &amp; Vehicle Licensing Agency</td>
            <td>30 Apr 2016</td>
        </tr>
        <tr id="row-7">
            <td><a href="#">row 7 SMITH Billy</a></td>
            <td>9012456</td>
            <td>4 Apr 1970</td>
            <td>Withdrawal received - ready for decision</td>
            <td>Transport for London</td>
            <td>30 Apr 2016</td>
        </tr>
    </tbody>
</table>