{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main id="content" role="main">
    
    {% include "includes/phase_banner_alpha.html" %}
    {% include "includes/breadcrumb_back.html" %}
            
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge bottom_0">Search for a case</h1>
            <h2 class="heading-small top_10 bottom_30 form-hint">Variation 1</h2>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds search-container">
            <p class="top_0 bottom_5">Enter case reference number or defendant's last name</p>
            <input class="form-control form-control-3-4" id="full-name-f1" type="text" name="full-name-f1" value="Smith"><button type="submit"><i class="fa fa-search" style="margin-top: 2px"></i></button>
            <div class="panel panel-border-wide top_15" style="padding-top: 10px; padding-bottom: 5px">
                <p>
                    7 cases found
                </p>
            </div>
        </div>
    </div>
        
    <div class="grid-row">
        <div class="column-full top_30 bottom_30">
            <hr>
        </div>
    </div>
    
    <div class="grid-row">

        <div class="column-one-third">
            <p class="bold">Filter by</p>

            <details>
                <summary><span class="summary">Case status</span></summary>
                <div class="panel panel-border-narrow">
                    <form>
                        <fieldset>
                            <div class="multiple-choice">
                                <input id="case-status-1" name="case-status" type="checkbox" value="Completed" checked="checked" onclick="showHideCaseStatus('row-1');showHideCaseStatus('row-3');showHideCaseStatus('row-4');">
                                <label for="case-status-1">Completed (3)</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="case-status-2" name="case-status" type="checkbox" value="No plea received" checked="checked" onclick="showHideCaseStatus('row-2');showHideCaseStatus('row-5');">
                                <label for="case-status-2">No plea received (2)</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="case-status-3" name="case-status" type="checkbox" value="Plea received - ready for decision" checked="checked" onclick="showHideCaseStatus('row-6');">
                                <label for="case-status-3">Plea received - ready for decision (1)</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="case-status-4" name="case-status" type="checkbox" value="Withdrawal received - ready for decision" checked="checked" onclick="showHideCaseStatus('row-7');">
                                <label for="case-status-4">Withdrawal received - ready for decision (1)</label>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </details>
            
            <details open>
                <summary><span class="summary">Prosecutor</span></summary>
                <div class="panel panel-border-narrow">
                    <form>
                        <fieldset>
                            <div class="multiple-choice">
                                <input id="prosecutor-1" name="prosecutor" type="checkbox" value="Completed" checked="checked" onclick="showHideProsecutor('row-1');showHideProsecutor('row-2');">
                                <label for="prosecutor-1">TV Licensing (2)</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="prosecutor-2" name="prosecutor" type="checkbox" value="Transport for London" checked="checked" onclick="showHideProsecutor('row-4');showHideProsecutor('row-5');showHideProsecutor('row-7');">
                                <label for="prosecutor-2">Transport for London (3)</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="prosecutor-3" name="prosecutor" type="checkbox" value="Driver & Vehicle Licensing Agency" checked="checked" onclick="showHideProsecutor('row-3');showHideProsecutor('row-6');">
                                <label for="prosecutor-3">Driver &amp; Vehicle Licensing Agency (2)</label>
                            </div>
                            
                        </fieldset>
                    </form>
                </div>
            </details>
            
            <details>
                <summary><span class="summary">Date range</span></summary>
                <div class="panel panel-border-narrow">

                    <form class="date-range-picker">
                        <fieldset>
                            <legend>
                                <p class="bold bottom_5">From</p>
                                <p class="form-hint">For example, 18 5 2016</p>
                            </legend>
                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label class="form-label" for="dob-day">Day</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="30">
                                </div>
                                <div class="form-group form-group-month">
                                    <label class="form-label" for="dob-month">Month</label>
                                    <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="4">
                                </div>
                                <div class="form-group form-group-year">
                                    <label class="form-label" for="dob-year">Year</label>
                                    <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2018" value="2016">
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <form class="top_15 date-range-picker">
                        <fieldset>
                            <legend>
                                <p class="bold bottom_5">To</p>
                                <p class="form-hint">For example, 18 5 2016</p>
                            </legend>
                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label class="form-label" for="dob-day">Day</label>
                                    <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" value="30">
                                </div>
                                <div class="form-group form-group-month">
                                    <label class="form-label" for="dob-month">Month</label>
                                    <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12" value="4">
                                </div>
                                <div class="form-group form-group-year">
                                    <label class="form-label" for="dob-year">Year</label>
                                    <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2018" value="2016">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    
                </div>
            </details>
            
            
            
        </div>            
            
        <div class="column-two-thirds">
            
            {% include "includes/case-list.html" %}
            
            <!-- SHOW/HIDE CASE STATUS -->
            <script>
                function showHideCaseStatus(rowId) {
                    if (document.getElementById(rowId).style.display == "none") {
                        document.getElementById(rowId).style.display = "table-row";
                    } else if (document.getElementById(rowId).style.display != "none") {
                        document.getElementById(rowId).style.display = "none";
                    }
                }

                function showHideProsecutor(rowId) {
                    if (document.getElementById(rowId).style.display == "none") {
                        document.getElementById(rowId).style.display = "table-row";
                    } else if (document.getElementById(rowId).style.display != "none") {
                        document.getElementById(rowId).style.display = "none";
                    }
                }
            </script> 
          
        </div>

    </div>

</main>

{% endblock %}


